<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bravson.socialalert.android"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <!--
         The smallest screen this app works on is a phone.  The app will
         scale its UI to larger screens but doesn't make good use of them
         so allow the compatibility mode button to be shown (mostly because
         this is just convenient for testing).
    -->
    <supports-screens
        android:compatibleWidthLimitDp="480"
        android:requiresSmallestWidthDp="320" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
 	<uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:name=".AndroidApp_"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_activity_top_media" >
        <activity
            android:name=".LoginActivity_"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopMediaActivity_"
            android:label="@string/title_activity_fragment" >
            
        </activity>
        <activity android:name=".MediaPreviewActivity_">
			<intent-filter ></intent-filter>
        </activity>
        <activity android:name=".CameraActivity_">
			<intent-filter ></intent-filter>
        </activity>
        <activity android:name=".ClaimMediaActivity_">
			<intent-filter ></intent-filter>
        </activity>
        <service android:name=".UploadService_" android:exported="false">
        </service>
    </application>

</manifest>
